.gt_title {
  font-size: 1.2em !important;
  font-weight: 600 !important;
}

.gt_subtitle {
  color: red !important;
  font-size: 1em !important;
}

.gt_table:not(:first-child) {
  margin-bottom: 2em !important; 
}
